@import 'styles/theme';

.login {
  &.container {
    margin-top: 1em;
    min-height: 500px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    height: 40em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background: rgba(241, 217, 198, 0.63);
    //background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    //box-shadow: $dropShadow;
  }
  &.name {
    color: $accentDark;
  }
  &.Id {
    color: $accentDark;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 50px;
    padding-left: 15px;
    margin-left: -4px;
    border:1px solid $accentDark;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 1);
    color: $accentDark;
  }
  &.label {
    color: $accentDark;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 300;
  }
  &.button-container {
    display: center;
    justify-content: center;
    margin-top: 2em;
  }
}