@import 'styles/theme';

.profile {
  &.container {
    background: $background;
    padding: 3.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
  }

  &.user-list {
    list-style: none;
    padding-left: 0;
  }

  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & p, h2 {
    margin: 0.5em 0;
  }
}

.book {
  &.container {
    background: $background;
    border-radius: $borderRadius;
    padding: 20px;
    display: inline-block;
    margin: 20px;
    justify-content: space-around;
    font-weight: 500;
    color: $textColor;
    font-size: 15px;
    align-content: start;
  }

  &.name {
    font-weight: 600;
    color: $textColor;
    font-size: 18px;
    text-align: center;
  }
  & p, h2 {
    margin: 0.5em 0;
  }
}

.title {
  font-weight: 700;
  color: $textColor;
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}

.player {
  &.container {
    width: 350px;
    border-radius: $borderRadius;
    background: $accentDark;
    max-height: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;

  }

  &.name {
    font-weight: 700;
    display: inline-block;
    color: $textColor;
    margin-left: 2px;
    font-size: 20px;
    text-align: left;
  }

  &.content {
    display: inline-block;
    text-align: left;
    font-weight: 400;
    color: $textColor;
    margin-left: 4px;
    font-size: 20px;
  }
}


.edit-container {
  margin-left: 500px;
  margin-right: 500px;
  font-size: 18px;
  //text-align: center;
  color: $textColor;
  border-radius: $borderRadius;
}
.edit{
&.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  font-size: 16px;
  font-weight: 300;
  border-radius: 0.75em;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
&.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
&.input {
  height: 40px;
  padding-left: 15px;
  margin-left: -4px;
  border:1px solid $accentDark;
  border-radius: 0.75em;
  margin-bottom: 20px;
  background: transparentize(white, 1);
  color: $accentDark;
}
&.label {
  color: $textColor;
  font-weight: 400;
  font-size: 18px;
}}
.ms-theme-white {
  --ms-track-background:rgba(248, 248, 248, .76);
  --ms-track-border-color: #dfdfdf;
  --ms-thumb-color: rgba(0, 0, 0, .5);
}
.ms-track-box {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 0;
  height: 0;
}



