@import 'styles/theme';

.primary-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      transform: none;
    }
  }
  padding: 6px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  height: 50px;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 1;
  color: $background;
  background-color: $accentDark;
  transition: all 0.3s ease;
}

.small-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      transform: none;
    }
  }
  padding: 6px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  color: $accentDark;
  height: 50px;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 1;
  background-color: $accent;
  transition: all 0.3s ease;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow:6px 6px 6px 0px rgb(161, 57, 0);

}

.right-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      transform: none;
    }
  }
  padding: 6px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  color: $accentDark;
  height: 50px;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 1;
  background-color: $accent;
  transition: all 0.3s ease;
  margin-left: 15vw;
  margin-right: 30px;
  box-shadow:6px 6px 6px 0px rgb(161, 57, 0);

}


